* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  background-color: #1e1e1e;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.dashboard__content {
  padding: 40px 32px;
  text-align: center;
  background-color: white;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
}

.dashboard__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dashboard__link-logo {
  text-decoration: none;
}

.dashboard__link-img {
  display: block;
}

.dashboard__link-text {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #a4a6b3;
  opacity: 0.7;
  text-decoration: none;
}

.dashboard__header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #252733;
  margin-bottom: 0;
}

.dashboard__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #9fa2b4;
  margin-bottom: 0;
}

.dashboard__form {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  padding-top: 48px;
}

label {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #9fa2b4;
  display: inline-block;
}

input {
  background: #fcfdfe;
  border: 1px solid #f0f1f7;
  border-radius: 8px;
  padding: 10px;
  margin-top: 6px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

input:focus {
  background: #dadbdb;
  outline: 2px solid green;
}

span {
  margin-top: 24px;
  margin-bottom: 6px;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
}

.dashboard__form div {
  text-decoration: none;
  padding-top: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard__form-link {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 0.1px;
  color: #9fa2b4;
  text-decoration: none;
}

.dashboard__form-link:hover {
  text-decoration: underline;
}

button {
  background: #3751ff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 14px 24px;
  border: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  cursor: pointer;
}

button:active {
  transition: all 0.3s ease;
  color: green;
}

.dashboard__question {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #9fa2b4;
}

.dashboard__sign-up {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #3751ff;
  text-decoration: none;
}

.dashboard__sign-up:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 425px) {
  .dashboard__header {
    font-size: 20px;
  }

  .dashboard__link-img {
    width: 40px;
    height: 40px;
  }

  .dashboard__link-text {
    font-size: 16px;
  }

  .dashboard__paragraph {
    font-size: 12px;
  }

  label {
    margin-top: 36px;
  }
}

@media only screen and (max-width: 375px) {
  .dashboard__header {
    font-size: 18px;
  }

  label {
    margin-top: 24px;
  }

  button {
    padding: 10px 20px;
  }
}
